.modal-title {
  font-size: 20px;
}

.btn,
.modal-body {
  font-size: 16px !important;
}

#appevento {
  width: 1200px;
  margin: auto;
}

.evento h1 {
  margin: 20px 0;
  font-size: 2.5em !important;
}

.evento .item-evento {
  padding-top: 5px !important;
}

label,
.evento .item-nome,
.evento input,
.evento textarea,
.evento .nav-link {
  font-size: 16px;
}

.evento .item-nome {
  margin: auto 0;
}

.evento .evento-documentos {
  margin: 30px 0 10px 0;
}

.evento .evento-documentos input {
  margin-bottom: 5px;
}

.evento #id,
.evento #created_at,
.evento #updated_at {
  display: none;
}

.botao-remover {
  align-self: flex-end;
}

.botao-remover .btn {
  font-size: 1.5rem;
}

input[type="time"],
input[type="date"] {
  width: 180px;
}

/* Esconde o botão "Edit in Live Composer" */
.dslca-activate-composer-hook {
  display: none !important;
}

/* Vídeos */
.ordem label {
  display: block;
}

.ordem span {
  padding: 0 10px;
}

.btn.ordem {
  font-size: 12px !important;
  vertical-align: middle;
}

.evento span {
  font-size: 20px;
  vertical-align: middle;
}
