#app {
  width: 100%;
  background-color: #0a3299;
  padding: 80px 0;
}

#app * {
  font-family: "Open Sans";
  color: white;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
}

#app table {
  border-collapse: collapse;
  max-width: 1180px;
  margin: auto;
}

#app caption {  
  color: #fff;
  font-family: museo, serif;
  font-size: 50px;
  font-weight: 900;
}

#app tr {
  height: 28px;
}

#app .header-cronograma {
  color: #0a3299 !important;
}

#app th[scope=col] {
  color: #f3a8b1;
  letter-spacing: 1px;
  font-size: 0.65em;
  padding-left: 1px;
  min-width: 24px;
  text-align: center;
}

#app th:first-child,
#app td:first-child {
  width: 22px;
  padding: 0 0 0 2px;
}

#app tr > td {
  line-height: 28px;
}

#app #tabela-cronograma * {
  border: 0px solid transparent;
  table-layout: fixed;
}

#app #tabela-cronograma .cronograma-meses {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 24px;
  max-width: 24px;
}

  
#app #tabela-cronograma * > tr > td:nth-child(n+4), #app #tabela-cronograma * > tr > th:nth-child(n+3) {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

#app #tabela-cronograma * > tr > td:nth-child(n+2), #app #tabela-cronograma th[scope=row] {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

#app #tabela-cronograma * > tr:nth-child(2n+3) {
  background-color: #062459;
}

#app .rosa {
  background-color: #f3a8b1;
  color: #f3a8b1;
}

#app .laranja {
  background-color: #f88534;
  color: #f88534;
}
#app .vermelho {
  background-color: #f7664d;
  color: #f7664d;
}
#app .azul {
  background-color: #517bee;
  color: #517bee;
}

#app .texto-rosa * {
  color: #f3a8b1;
}

#app .texto-laranja * {
  color: #f88534;
}

#app .texto-vermelho * {
  color: #f7664d;
}

#app .texto-azul * {
  color: #517bee;
}

#app .texto-rosa, #app .texto-laranja, #app .texto-vermelho, #app .texto-azul * {
  line-height: 15px;
}

#app .container-legenda {
  margin: auto;
  max-width: 1180px;
}

#app .legenda-cronograma {
  font-weight: bold;
  max-width: 50%;
  margin-top: 40px;
  float: right;
}

#app .container-legenda::after {
  clear: both;
  content: "";
  display: block;
}

#app .legenda-container {
  display: inline-block;
  width: 140px;
  height: 65px;
  vertical-align: top;
}

#app .legenda-container * {
  font-size: 11px;
  line-height: 15px;
}

#app .legenda-barra {
  height: 10px;
  width: 100%;
  margin-bottom: 12px;
}

#app .legenda-subtitulo {
  font-weight: 300;
}

#app .cronograma-strong strong {
  font-weight: 700;
}

@media (max-width:1200px) {
  #app table {
    width: 85%;
  }

  #app caption {
    margin-bottom: 60px;
  }

  #app #tabela-cronograma .cronograma-meses {
    border-color: rgba(255, 255, 255, 1) !important;
    border-width: 1px !important;
    color: #fff !important;
    min-width: 25% !important;
    max-width: 25% !important;
    padding-left: 5px !important;
    white-space: normal;
  }	
    
  td[aria-hidden=true], tr[aria-hidden=true] {
    display: none;
  }
  
  #app .header-cronograma {
    color: #f3a8b1 !important;
    font-size: 15px !important;
    text-transform: uppercase;
  }
}