.cronograma-corpo {
  width: 100%;
  background-color: #0a3299;
}

.cronograma-container {
  margin: auto;
  width: 1180px;
  background-color: #0a3299;
  padding: 10px 0 80px 0;
}

.cronograma-container * {
  font-family: "Open Sans";
  color: white;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
}

.cronograma-container h2 {
  padding-top: 70px;
  font-size: 50px !important;
  font-weight: 900 !important;
}

.cronograma-container p {
  margin: 0;
  font-weight: 600;
  font-size: 13px !important;
  line-height: 28px;
}

.cronograma-container span, 
.cronograma-container ul li {
  font-weight: 300;
}

.cronograma-container ul {
  list-style-type: disc;
  list-style-position: inside;
}

.cronograma-container table {
  border-collapse: collapse;
  max-width: 1180px;
  margin: auto;
  margin-top: 60px;
}

.cronograma-container h2,
.cronograma-container caption {
  color: #fff;
  font-family: museo, serif;
}

.cronograma-container tr {
  height: 28px;
}

.cronograma-container .cronograma-header {
  color: #0a3299 !important;
}

.cronograma-container th[scope="col"] {
  color: #fff;
  letter-spacing: 1px;
  font-size: 0.8em;
  padding-left: 1px;
  min-width: 24px;
  text-align: center;
}

.cronograma-container th[scope="row"] {
  vertical-align: middle;
  text-align: left;
}

.cronograma-tabela th:first-child,
.cronograma-tabela td:first-child {
  width: 26px;
  padding: 0 0 0 2px;
}

.cronograma-container tr > td {
  line-height: 1.2;
}

.cronograma-tabela * {
  border: 0px solid transparent;
  table-layout: fixed;
}

.cronograma-tabela caption {
  margin-bottom: -30px;
  font-size: 32px !important;
  font-weight: 700 !important;
  text-align: left;
}

.cronograma-tabela .cronograma-evento {
  width: 794px;
}

.cronograma-tabela .cronograma-meses {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: calc(360px / 12);
  max-width: calc(360px / 12);
  cursor: default;
}

.cronograma-tabela.tabela-2022 .cronograma-meses {
  min-width: calc(360px / 3);
  max-width: calc(360px / 3);
}

.cronograma-tabela * > tr > td:nth-child(n + 3),
.cronograma-tabela * > tr > th:nth-child(n + 2) {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.cronograma-header {
  border-left: none !important;
}

.cronograma-tabela * > tr > td:nth-child(n + 2),
.cronograma-tabela th[scope="row"] {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.cronograma-tabela * > tr:nth-child(2n + 3) {
  background-color: #062459;
}

.cronograma-container .rosa {
  background-color: #f3a8b1;
}

.cronograma-container .laranja {
  background-color: #f88534;
}

.cronograma-container .salmao {
  background-color: #f7664d;
}

.cronograma-container .vermelho {
  background-color: #c61813;
}

.cronograma-container .azul {
  background-color: #517bee;
}

.cronograma-container .azul-claro {
  background-color: #b9caf8;
}

.cronograma-container .nao-definido,
.cronograma-container .rosa,
.cronograma-container .laranja,
.cronograma-container .vermelho,
.cronograma-container .salmao,
.cronograma-container .azul,
.cronograma-container .azul-claro {
  color: transparent;
}

.cronograma-container .texto-rosa * {
  color: #f3a8b1;
}

.cronograma-container .texto-laranja * {
  color: #f88534;
}

.cronograma-container .texto-salmao * {
  color: #f7664d;
}

.cronograma-container .texto-vermelho * {
  color: #c61813;
}

.cronograma-container .texto-azul * {
  color: #517bee;
}

.cronograma-container .texto-azul-claro * {
  color: #b9caf8;
}

.cronograma-container .texto-rosa,
.cronograma-container .texto-laranja,
.cronograma-container .texto-salmao,
.cronograma-container .texto-vermelho,
.cronograma-container .texto-azul,
.cronograma-container .texto-azul-claro * {
  line-height: 15px;
}

.cronograma-container .container-legenda {
  margin: auto;
  max-width: 1180px;
}

.cronograma-container .legenda-cronograma {
  font-size: 0; /* Remove whitespace entre os elementos da legenda  */
  max-width: 500px;
  margin-top: 40px;
  float: right;
  text-align: right;
}

/* Clearfix */
.cronograma-container .container-legenda::after {
  clear: both;
  content: "";
  display: block;
}

.cronograma-container .legenda-container {
  display: inline-block;
  width: 140px;
  height: 65px;
  vertical-align: top;
  text-align: left !important;
}

.cronograma-container .legenda-container * {
  font-size: 11px;
  line-height: 15px;
  font-weight: 600;
}

.cronograma-container .legenda-barra {
  height: 10px;
  width: 100%;
  margin-bottom: 12px;
}

.cronograma-container .legenda-subtitulo {
  font-weight: 300;
}

.cronograma-container .cronograma-strong strong {
  font-weight: 700;
}

@media (max-width: 1200px) {
  .cronograma-corpo {
    width: 100%;
  }

  .cronograma-container {
    width: 95%;
  }

  .cronograma-container caption {
    margin-bottom: 8px;
  }

  .cronograma-tabela .cronograma-meses {
    border-color: rgba(255, 255, 255, 1) !important;
    border-width: 1px !important;
    color: #fff !important;
    min-width: 25% !important;
    max-width: 25% !important;
    padding-left: 5px !important;
    white-space: normal;
    cursor: text;
  }

  .cronograma-container .nao-definido,
  .cronograma-container .rosa,
  .cronograma-container .laranja,
  .cronograma-container .salmao,
  .cronograma-container .vermelho,
  .cronograma-container .azul
  .cronograma-container .azul-claro {
    color: #fff;
  }

  td[aria-hidden="true"],
  tr[aria-hidden="true"] {
    display: none;
  }

  .cronograma-container .cronograma-header {
    color: #fff !important;
    font-size: 15px !important;
    text-transform: uppercase;
  }
}

.calendario-ano {
  font-size: 32px !important;
  font-weight: 700 !important;
}

.calendario-tabela {
  margin-top: 40px;
}

.calendario-tabela caption {
  margin-bottom: -20px;
  font-size: 22px !important;
  line-height: 1;
  font-weight: 900 !important;
  text-align: left;
  padding: 10px 36px;
  border-radius: 6px;
}

.calendario-tabela caption.calendario-rosa {
  background-color: #f28c7e;
}

.calendario-tabela caption.calendario-laranja {
  background-color: #fd8524;
}

.calendario-tabela caption.calendario-azul {
  background-color: #517bee;
}

.calendario-tabela thead * {
  color: transparent;
}

.calendario-tabela tr {
  border-bottom: 1px solid #fff;
}

.calendario-data {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 36px;
}

.calendario-data.calendario-rosa-claro{
  background-color: #fee1e7;
}

.calendario-data.calendario-laranja-claro{
  background-color: #fecea7;
}

.calendario-data.calendario-azul-claro{
  background-color: #b9caf8;
}

.calendario-data .calendario-dia-nome,
.calendario-data .calendario-dia {
  display: block;
  line-height: 1.05;
  color: #000;
}

.calendario-data .calendario-dia-nome {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.calendario-data .calendario-dia {
  font-size: 19px;
  font-weight: 900;
}

.calendario-data {
  width: 80px;
}

.calendario-evento {
  min-width: 360px;
  padding-left: 20px;
  background-color: #062459;
  font-size: 15px;
  font-weight: 700;
  vertical-align: middle;
}

.calendario-descricao {
  min-width: 740px;
  padding-left: 20px;
  vertical-align: middle;
  letter-spacing: 1px;
}